.array-container{
    height: 100%;
    width: 100%;
    margin-left: 5px;
    margin-top: 40px;

}
.array-bar{
    width: 4px;
    display: inline-block;
    margin: 0 1px;
}
.App-header {
    background-color: #282c34;
    width: 100%;
    height: 100%;
  }
  .heading{
    display: inline-block;
    color: aliceblue;
    font-size: large;
    margin-left: 25px;
    margin-right: 25px;
  }
  .button{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
    display: inline-block;
    color: white;
  }
  .footer{
    width: 100%;
    height: 140px;
    background-color: #282c34;
  }